
.navbar .navbar-brand{
  img{
    max-width:100%;
    max-height:100%;
  }
  padding: 0px 15px;
  height:62px;
}

.navbar.navbar-default{
  background-color:white;
  color:$brand-primary;

  .navbar-nav.nav{
    a{
        color: $brand-primary;
    }
  }
}
