body{
  & > #app > .content{
    #home {
      margin-top:-22px;
      margin-bottom:25px;
    }
  }
}


#home{
  .carousel-inner > .item > img{
    max-height: calc(100vh - 62px);
    width:100%;
  }
}

.carousel-control{
  .material-icons{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }

  &.left .material-icons{
    left: 50%;
    margin-left: -10px;
  }

  &.right.material-icons{
    right: 50%;
    margin-right: -10px;
  }
}

.panel{
  &.panel-default > .panel-heading{
    background-color: $brand-primary;
    color:white;
  }
}

.btn:not(.btn-raised){
  color:$brand-primary;
}

.btn.btn-facebook,.btn.btn-facebook:not(.btn-raised){
  color:white;
  &:hover,&:active,&:focus{
    color:black;
  }
}

.text-primary{
  color:$brand-primary;
}

.form-group .help-block{
  display:block;
}
